:root {
  --color-brand-1: #ffd105;
  --color-brand-2: #008000;
  --color-dark-1: #000000;
  --color-dark-2: #181717;
  --color-dark-3: #939292;
  --color-light-1: #c2bfbf;
  --color-light-2: #f5f5f5;
  --color-light-3: #c4bebe;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light-2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;
  background-color: #fff;
  padding: 2.5rem;
  display: flex;
}
/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand-1);
}

/* SIDEBAR */
.sidebar {
  flex-basis: 55rem;
  background-color: var(--color-dark-1);
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
}
.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 4rem;
}
.workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.workouts::-webkit-scrollbar {
  width: 0;
}
.workout {
  background-color: var(--color-dark-2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
}
.workout--running {
  border-left: 5px solid var(--color-brand-2);
}
.workout--cycling {
  border-left: 5px solid var(--color-brand-1);
}
.workout__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
}
.workout__details {
  display: flex;
  align-items: baseline;
}
.workout__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}
.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light-1);
  text-transform: uppercase;
  font-weight: 800;
}
.form {
  background-color: var(--color-dark-2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;
  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
  position: relative;
}
.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}
.form__row {
  display: flex;
  align-items: center;
}
.form__row--hidden {
  display: none;
}
.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}
.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light-3);
  transition: all 0.2s;
}
.form__input:focus {
  outline: none;
  background-color: #fff;
}
.form__btn {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  background-color: transparent;
  color: var(--color-light-2);
  border: none;
  opacity: 0.5;
}
.form__btn:hover {
  border-radius: 5px;
  opacity: 1;
}
.add {
  position: absolute;
  bottom: 0;
  right: 0;
}
.del {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.6rem;
}
.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light-1);
}
.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light-1);
  transition: all 0.2s;
}
.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light-2);
}
/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light-1);
}
/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark-1);
  color: var(--color-light-2);
  border-radius: 5px;
  padding-right: 0.6rem;
}
.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}
.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark-1);
}
.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand-2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand-1);
}

.close__workout {
  float: right;
  font-size: 1.3rem;
  background-color:darkred;
  padding: 0 5px;
}

.reset_button_container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.reset_button {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 5px;
  background-color: var(--color-dark-1);
  color: var(--color-light-2);
  border-radius: 12px;
}
.reset_button:hover {
  box-shadow: var(--color-light-1) -1px -1px 1px, var(--color-light-1) 1px 1px 1px, var(--color-light-1) 1px -1px 1px, var(--color-light-1) -1px 1px 1px;
}

.modal-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-window {
  padding: 20px;  
  background-color: #fff;
  opacity: .8;
  width: auto;
  max-width: 360px;
  height: auto;
  display: flex;  
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
}
.modal-text-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-text {
  padding-top: 10px;
  font-size: 1.6rem;
  color: #000000;
}
.modal-buttons {
  width: 100%;
  height: auto;
  margin-top: 30px;
  padding-left: 7px;
  padding-right: 7px;
  display: flex;
  justify-content: space-between;
}
.button-yes, .button-no {
  width: 90px;
  padding: 8px;
  border: 0.2px solid black;
  border-radius: 7px;
}
.button-yes {
  background-color: rgba(60, 179, 113, .1);
  margin-right: 25px;
}
.button-no {
  background-color: rgba(255, 0, 0, .1);
  margin-left: 25px;
}